/* reset CSS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#box1{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}
#box2{
	height: 150px;
	width: 150px;
	border: 2px solid red;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;
}
.sample{
	height: 150px;
	width: 150px;
	border: 2px solid blue;
	background-color: green;
}