*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	
}
body{
	background-color: #f0f0f0;
}
nav{
	background-color: steelblue;
	color: white;
	font-size: 1.1rem;
	padding: 0.5rem;
	font-weight: bold;
	box-shadow: 1px 1px 5px 0px black;
}
ul{
	list-style-type: none;
}
ul li{
	display: inline;
	vertical-align: middle;

}
ul li a{
	text-decoration: none;
	color: white;
}
ul li a:hover{
	color: orange;
}
nav .brand{
	font-size: 1.4rem;
}

/*product style*/
section{
	margin-top: 20px;
}
.product-sec div{
	width: 49%;
	display: inline-block;
	vertical-align: top;
	height: 400px;
	padding: 20px;
	
}
.product-items{
	background-color: steelblue;
	margin-bottom: 10px;
}
.item-img{
	height: 100%;
	width: 75%;
	display: inline-block;
	vertical-align: bottom;
}
.info{
	width: 25%;
	display: inline-block;
	vertical-align: bottom;
}
.product-sec div img{
	height: 100%;
	width: 100%;
}