*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	
}
body{
	/*open source image from unsplash website*/
	background-image: url('img/bg.jpg'); 
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;
}

nav{
	background-color: steelblue;
	color: white;
	font-size: 1.1rem;
	padding: 0.5rem;
	font-weight: bold;
	box-shadow: 1px 1px 5px 0px black;
}
ul{
	list-style-type: none;
}
ul li{
	display: inline;
	vertical-align: middle;

}
ul li a{
	text-decoration: none;
	color: white;
}
ul li a:hover{
	color: orange;
}
nav .brand{
	font-size: 1.4rem;
}
.header-sec{
	font-weight: bold;
	text-align: center;
	padding-top: 5%;
	background-color: #fff;
	opacity: 0.93;

}
.header-sec p{
	margin-bottom: 50px;
	color: steelblue;
	text-transform: uppercase;
	font-family: 'Shizuru', cursive;
	font-size: 3rem;
	letter-spacing: 10px;
	
}
.header-sec a{
	text-decoration: none;
	font-size: 1.5rem;
	background-color: #0898CF;
	color: white;
	padding: 10px;
	border-radius: 7.5px;
	box-shadow: 1px 1px 3px 0px black;
}
.header-sec a:hover{
	background-color: orange;
}
.content-sec{
	padding: 8% 4vw 0px;
}
.content-sec h3{
	text-align: center;
	color: #efe5e5;
	padding-bottom: 2%;
	font-size: 1.8rem;
}
.content-sec section{
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	margin: auto;
	width: 30vw;
	text-align: center;
	padding: 50px 0px;
}
.footer-sec{
	background-color: #003366;
	margin-top: 5vh;
	color: #fff;
	padding: 1%;
	position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer-sec p{
	font-size: 0.8rem;
}

/*product style*/
.product-sec div{
	width: 49%;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
	
}
.product-items{
	padding: 10px;
	width: 100px;
}
div .item-img{
	background-color: #000;
	width: 70%;
	margin: auto;
}